.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
  }
  
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #4CAF50;
    position: relative;
  }
  
  .required {
    color: red;
    font-size: 1rem;
    margin-left: 4px;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    transition: border-color 0.3s ease;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button.next-button {
    background-color: #f3f2ee;
    color: #000;
  }
  
  button.next-button:hover {
    background-color: rgb(239, 242, 244);
  }
  
  /* Responsive Layout */
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
  }
  
  .form-group {
    padding: 0.5rem;
    flex: 1 1 100%;
  }
  
  .form-group.col-md-6 {
    flex: 1 1 50%;
  }
  
  .form-group.col-md-4 {
    flex: 1 1 33.3333%;
  }
  
  /* Error Handling */
  .has-error .form-control {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  /* Animations */
  .animate-container {
    opacity: 0;
    animation: fadeInContainer 1s forwards;
  }
  
  @keyframes fadeInContainer {
    to {
      opacity: 1;
    }
  }
  
  .animate-section {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }