
<div class="container mt-5 animate-container">
  <h3 class="text-center mb-4">Create Policy</h3>
  <form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
    <!-- Scheme Section -->
    <div class="form-row animate-section">
      <div class="form-group col-md-6">
        <label for="schemeName">Scheme Name</label>
        <input type="text" id="schemeName" class="form-control" formControlName="schemeName" data-toggle="tooltip" data-placement="top" title="Enter the name of the scheme" />
      </div>
      <div class="form-group col-md-6">
        <label for="schemeNumber">Scheme Number</label>
        <input type="text" id="schemeNumber" class="form-control" formControlName="schemeNumber" data-toggle="tooltip" data-placement="top" title="Enter the number of the scheme" />
      </div>
    </div>
    <div class="form-row animate-section">
      <div class="form-group col-md-6">
        <label for="premium">Premium</label>
        <input type="number" id="premium" class="form-control" formControlName="premium" data-toggle="tooltip" data-placement="top" title="Enter the premium amount" />
      </div>
      <div class="form-group col-md-6">
        <label for="state">State</label>
        <input type="text" id="state" class="form-control" formControlName="state" data-toggle="tooltip" data-placement="top" title="Enter the state" />
      </div>
    </div>
    <!-- Dates Section -->
    <div class="form-row animate-section">
      <div class="form-group col-md-6">
        <label for="effectiveDate">Effective Date</label>
        <input type="text" id="effectiveDate" class="form-control" formControlName="effectiveDate" data-toggle="tooltip" data-placement="top" title="Enter the effective date" />
      </div>
      <div class="form-group col-md-6">
        <label for="anniversary">Anniversary Date</label>
        <input type="date" id="anniversary" class="form-control" formControlName="anniversary" data-toggle="tooltip" data-placement="top" title="Enter the anniversary date" />
      </div>
    </div>
    <!-- Business Section -->
    <div class="form-row animate-section">
      <div class="form-group col-md-6">
        <label for="businessSource">Business Source</label>
        <input type="text" id="businessSource" class="form-control" formControlName="businessSource" data-toggle="tooltip" data-placement="top" title="Enter the business source" />
      </div>
      <div class="form-group col-md-6">
        <label for="taxId">Tax ID</label>
        <input type="text" id="taxId" class="form-control" formControlName="taxId" data-toggle="tooltip" data-placement="top" title="Enter the tax ID" />
      </div>
    </div>
    <div class="form-row animate-section">
      <div class="form-group col-md-6">
        <label for="country">Country</label>
        <input type="text" id="country" class="form-control" formControlName="country" data-toggle="tooltip" data-placement="top" title="Enter the country" />
      </div>
      <div class="form-group col-md-6">
        <label for="employerContractInfo">Employer Contract Info</label>
        <input type="text" id="employerContractInfo" class="form-control" formControlName="employerContractInfo" data-toggle="tooltip" data-placement="top" title="Enter the employer contract info" />
      </div>
    </div>
    <!-- Address Section -->
    <div class="form-row animate-section">
      <div class="form-group col-md-4">
        <label for="address1">Address Line 1</label>
        <input type="text" id="address1" class="form-control" formControlName="address1" data-toggle="tooltip" data-placement="top" title="Enter address line 1" />
      </div>
      <div class="form-group col-md-4">
        <label for="address2">Address Line 2</label>
        <input type="text" id="address2" class="form-control" formControlName="address2" data-toggle="tooltip" data-placement="top" title="Enter address line 2" />
      </div>
      <div class="form-group col-md-4">
        <label for="address3">Address Line 3</label>
        <input type="text" id="address3" class="form-control" formControlName="address3" data-toggle="tooltip" data-placement="top" title="Enter address line 3" />
      </div>
    </div>
    <!-- Contact Section -->
    <div class="form-row animate-section">
      <div class="form-group col-md-4">
        <label for="city">City</label>
        <input type="text" id="city" class="form-control" formControlName="city" data-toggle="tooltip" data-placement="top" title="Enter the city" />
      </div>
      <div class="form-group col-md-4">
        <label for="state">State</label>
        <input type="text" id="state" class="form-control" formControlName="state" data-toggle="tooltip" data-placement="top" title="Enter the state" />
      </div>
      <div class="form-group col-md-4">
        <label for="zip">Zip</label>
        <input type="text" id="zip" class="form-control" formControlName="zip" data-toggle="tooltip" data-placement="top" title="Enter the zip code" />
      </div>
    </div>
    <div class="form-row animate-section">
      <div class="form-group col-md-4">
        <label for="employerPhone">Employer Phone</label>
        <input type="text" id="employerPhone" class="form-control" formControlName="employerPhone" data-toggle="tooltip" data-placement="top" title="Enter the employer's phone number" />
      </div>
      <div class="form-group col-md-4">
        <label for="employerExt">Employer Extension</label>
        <input type="text" id="employerExt" class="form-control" formControlName="employerExt" data-toggle="tooltip" data-placement="top" title="Enter the employer's extension" />
      </div>
      <div class="form-group col-md-4">
        <label for="employerFax">Employer Fax</label>
        <input type="text" id="employerFax" class="form-control" formControlName="employerFax" data-toggle="tooltip" data-placement="top" title="Enter the employer's fax number" />
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2 next-button">Next</button>
  </form>
</div>




