<div class="container mt-5">
  <!-- Navbar -->
  <ul class="nav nav-tabs" id="formTabs">
    <li class="nav-item">
      <a class="nav-link active" href="">Policy Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category">Category Infor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/summary">Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/rates">Rates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/discount">Discount</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>