
<div class="container mt-5">
  <ul class="nav nav-tabs" id="formTabs">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/']">
        <i class="fas fa-file-alt"></i> Policy Info
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/category']">
        <i class="fas fa-tags"></i> Category Info
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/summary']">
        <i class="fas fa-clipboard-list"></i> Summary
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/rates']">
        <i class="fas fa-dollar-sign"></i> Rates
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/discount']">
        <i class="fas fa-percent"></i> Discount
      </a>
    </li>
  </ul>

 

  <router-outlet></router-outlet>
</div>


